.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: stretch;
  /* min-width: calc(100% - 80px); */
  /* width: 100%; */
  /* width: calc(430px - 72px); */

}
